html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map_canvas { height: 100% }

.box{
	-webkit-box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.15);
	   -moz-box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.15);
			box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.15);
}

