html { height: 100% }
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map_canvas { height: 100%; }

.container-fluid {
    position: relative;
    z-index: 0;
}

.box{
	background-color: #fff;
	padding:12px;
	border:1px solid #6666dd;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
			border-radius: 6px;
	-webkit-box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.3);
	   -moz-box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.3);
			box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.3);
}


/* For Google Maps with HTML5 geolocation */

#geo-map {
    height: 100%;
    width: 100%;
}

#geo-log {
    color: blue;
    padding: 5px;
}
