<div class="box">
    
    <span id="geo-log"></span>
    
    {% if election %}
        <h4 style="padding-top: 4px; padding-bottom: 2px;">{{ election.name }}</h4>
        election view - bla blerg derpity derp

    {% elif candidate %}
        <h4 style="padding-top: 4px; padding-bottom: 2px;">{{ candidate.name }}</h4>
        candidate view - bla blerg derpity derp

    {% else %}
        <div style="text-align: center">
            <br/><br/>
            <h1>OpenVote.US</h1>
            <br/>
            <h3>Give every candidate your up or down vote.</h3>
            <h4>Better elections and a better country through better voting.</h4>
            <br/><br/>
        </div>
        bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 

    {% endif %}
    
</div>