<div class="box">
    <span id="geo-log"></span>

    <div style="text-align: center">
        <br/><br/>
        <h1>OpenVote.US</h1>
        <br/>
        <h3>Give every candidate your up or down vote.</h3>
        <h4>Better elections and a better country through better voting.</h4>
        <br/><br/>
    </div>
    This is the default view<br/>
    <br/>
    bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 

</div>