<div class="box">
    
    <a href="/">home</a><br/>
    
    <button id="see-position" class="btn btn-info" style="float: right;">Search location</button>
    <% if (voter.is_authenticated) { %>
        <a id="signout" class="btn">Sign out</a>
        <hr/>
        <a href="#/voter/<%= voterid %>"><h3><%= voter.name %></h3></a>
        <hr/>
        Voter ID: <%= voterid %>
        <hr/>
     <% } else { %>
        <!-- <a id="signin" data-toggle="modal" href="#signinModal" class="btn btn-primary">Sign in</a> -->
        <a id="signin" class="btn btn-primary">Sign in</a>
        <hr/>
        <h3>Welcome Guest!</h3>
        <hr/>
    <% } %>
    
    <% _.each (elections, function(e) { %>
        <a href="#/election/<%= e.id %>"><h4 class="nav-election"><%= e.name %></h4></a>
        <% _.each (e.candidates, function(c) { %>
            <div class="nav-candidate">
                <input class="vote" data-candidateid="<%= c.id %>" type="checkbox" <% if (c.approved) { %>CHECKED<% } %> >
                <a href="#/candidate/<%= c.id %>"><%= c.name %> (cid=<%= c.id %>)</a>
            </div>
        <% }); %>
        <br/>
    <% }); %>
    
    <hr/>

    <h4><a href="/api/v1/election/?format=json">More Elections</a></h4>
    <h4><a href="/api/v1/election/?format=json">Add New Election</a></h4>

    <hr/>
    
    <a href="https://register.rockthevote.com/registrants/new" target="_new">Register to Vote</a>
    
</div>