<div class="box">
    
    <button id="see-position" class="btn btn-info" style="float: right;">Search location</button>
    <% if (voter.is_authenticated) { %>
        <a id="signout" class="btn">Sign out</a>
        <hr/>
        <h3><%= voter.name %></h3>
        <hr/>
        <h3>Voter ID: <%= voterid %></h3>
        <hr/>
     <% } else { %>
        <!-- <a id="signin" data-toggle="modal" href="#signinModal" class="btn btn-primary">Sign in</a> -->
        <a id="signin" class="btn btn-primary">Sign in</a>
        <hr/>
        <h3>Welcome Guest!</h3>
        <hr/>
    <% } %>


    <% _.each (elections, function(e) { %>
        <h4 style="margin-left: 8px;"><%= e.name %></h4>
        <% _.each (e.candidates, function(c) { %>
            <input style="margin-left: 16px;" type="checkbox" CHECKED> <a href="#/candidate/<%= c.id %>"><%= c.name %> (<%= c.id %>)</a><br/>
        <% }); %>
            <br/>
    <% }); %>

    <hr/>

    <h4>&rsaquo; <a href="/api/v1/election/?format=json">More Elections</a></h4>
    <h4>&rsaquo; <a href="/api/v1/election/?format=json">Add New Election</a></h4>

    <hr/>
    
    <a href="https://register.rockthevote.com/registrants/new" target="_new">Register to Vote</a>
    
</div>