<h1>About OpenVote.US</h1> 

<hr/>

<h3>Why?</h3>

<p>OpenVote is built to educate the public about voting systems so that we can achieve our greatest democracy.</p>

<div class="well">
    <blockquote>
        <p>There are a thousand striking at the branches of evil to one who is hacking at the root.</p>
        <small style="float: right;">Henry David Thoreau (slightly modified)</small>
    </blockquote>
</div>

<p>We are demonstrating "<a href="http://en.wikipedia.org/wiki/Approval_voting">Approval Voting</a>" so that the public can experience the superior expression of their preferences as they vote:
<dl>
    <dd>&bull; A vote for a 3rd party candidate is not a wasted vote.</dd>
    <dd>&bull; Incentives for negative campaigning are <em>transformed</em> into incentives for candidates seeking approval.</dd>
    <dd>&bull; Power is shifted toward the candidates and away from their political parties.</dd>
</dl>

<p>Let's hack at the root! Vote in elections.  Add elections if they are not in our system.  Invite your friends to do the same.

And don't forget to encourage your local elections to embrace approval voting in upcoming elections!  <br/>

<hr/>

<a name="game-theory"></a>
<h3>Game Theory</h3>
<p>It's subtle, but it's important:  </p>
<p>If you are only allowed to vote for a single candidate, then 3rd party candidates just hurt the major party candidate that is most similar.  Any more than 2 candidates and the centrists end up splitting the vote and have little chance of winning.  Elections quickly reduce to exactly 2 candidates, empowering the 2 major political parties to control their candidates.  Campaigns not only have to convince voters that they deserve a vote, but also that their opponent does not deserve the vote.  </p>
<p>If you are allowed to vote for any of the candidates, then you can vote for a 3rd party candidate without wasting your vote - you can still vote for a major party candidate as well.  More candidates can enter a race without distorting the votes for the others.  Elections can include 3 or more candidates without creating a disadvantage for the centrists.  Politicians are empowered relative to their political parties.  The goal of campaigning becomes convincing voters that you deserve their approval, and has less to do with the other candidates, so there is less incentive for negative campaigning.  </p>

<hr/>

<h3>What the big deal?</h3>
<p>Radicalized politics has made the political parties into teams that play to win at the expense of the Nation.  </p>
<p>At the root of this problem is the structure of our voting system.  </p>
<p>When citizens may only approve of a single candidate in an election, the incentives are very strong to create controversy and attack other candidates.  </p>
<p>3rd party candidates have little chance of winning, and end up hurting their most similar mainstrean candidate.  </p>
<p>By simply allowing voters to vote for as many of the candidates as they like, the incentives change and we get better elections.  </p>




<!--

Imagine, incumbent politicians will not be subject to the threat of party primary elections.

-->
