<h1>About OpenVote</h1>

<hr/>

<p>Our mission is simple: educate the public about voting systems so that we can achieve our greatest democracy.</p>

<p>We are demonstrating "<a href="http://en.wikipedia.org/wiki/Approval_voting">Approval Voting</a>" so that the public can experience the superior expression of their preferences as they vote:
<dl>
    <dd>&bull; A vote for a 3rd party candidate is not a wasted vote.</dd>
    <dd>&bull; Incentives for negative campaigning are <em>transformed</em> into incentives for candidates seeking approval.</dd>
    <dd>&bull; Power is shifted toward the candidates and away from their political parties.</dd>
</dl>

<div class="well">
    <blockquote>
        <p>There are a thousand striking at the branches of evil to one who is hacking at the root.</p>
        <small style="float: right;">Slightly modified quote from Henry David Thoreau</small>
    </blockquote>
</div>

<p>Let's hack at the root! Vote in elections.  Add elections if they are not in our system.  Invite your friends to do the same.

And don't forget to encourage your local elections to embrace approval voting in upcoming elections!  <br/>


<!--

Imagine, incumbent politicians will not be subject to the threat of party primary elections.

-->
