<h1>Code</h1>

<hr/>

<h3>It's <a href="https://github.com/vonkohorn/openvote">Open Source</a></h3>
<br/>
Sometimes it's fun to build something new using new tools.  It's a great way to learn.  OpenVote was developed by <a href="https://github.com/vonkohorn">Dan</a> and <a href="https://github.com/dougvk">Doug</a> this way.  We started with <a href="https://www.djangoproject.com/">Django</a> and <a href="http://backbonejs.org/">Backbone.js</a>, but then saw <a href="http://www.angularjs.org/">angular.js</a> on <a href="http://news.ycombinator.com/">hackernews</a> and refactored the client side of the application using that.  <br/>
<br/>
Help us make OpenVote even better by contributing to the <a href="https://github.com/vonkohorn/openvote">source code</a>.
<br/>
<hr/>

<h3>Build on our API</h3>
<br/>
Mine the polling data for analysis and insight.  Build elections into your app.  Extend.  <br/>
<br/>
<a href="/api/v1/election/?format=json"><i class="icon-list-alt"></i> Sample json</a><br/>
<br/>


