<div ng-controller="ContestListCtrl">

    <div style="float: right;"><input type="text" ng-model="search" class="search-query" placeholder="Search"></div>

    <h2>Election List</h2>

    <table>
      <thead>
      <tr>
        <th>Election</th>
        <th>Description</th>
        <th><a href="/election/new"><i class="icon-plus-sign"></i></a></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="election in elections | filter:search | orderBy:'name'">
        <td><a href="/election/<[election.id]>" ng-click="updateElection(election)"><[election.name]></a></td>
        <td><[election.desc]></td>
        <td><a href="/election/edit/<[election.id]>" ng-click="updateElection(election)"><i class="icon-pencil"></i></a></td>
      </tr>
      </tbody>
    </table>
</div>
