<h1>Help</h1>

<hr/>

<div class="span3 box" style="float: right;">
    <h3>Usability</h3>
    <dl>
        <dd>Click the round OpenVote logo to go to the home page.</dd>
        <dd>Click the Elections header to browse and search through elections.</dd>
        <dd>Click on each election and candidate to read more about them.</dd>
    </dl>
</div>


<h3>General</h3>

<dl>
    <dh>Is this real voting?</dh>
    <dd>No.  Please <a href="http://www.usa.gov/Citizen/Topics/Voting/Register.shtml">register and vote</a> in elections.  OpenVote's mission is to show users that voting produces better results when voters are free to vote for any candidates they want.  In most political elections in the united states, voters are only allowed to vote for a single candidate.  Voting laws vary by state.  We encourage you to <a href="http://www.usa.gov/Citizen/Topics/Voting/Learn.shtml">learn more</a>. </dd>

    <dh>Can I vote for more than one candidate?</dh>
    <dd>YES! This is the key concept.  This is necessary in order to prevent good candidates from splitting the electorate and losing to worse candidates.  Many of politics' worst characteristics come from the perverse incentives that come from constraining a voter from expressing their approval of good candidates. </dd>

    <dh>Can I change my votes?</dh>
    <dd>Yes.  Any time.  </dd>

    <dh>Where can I learn more?</dh>
    <dd>From <a href="http://www.usa.gov/Citizen/Topics/Voting.shtml">USA.gov</a> and the <a href="http://www.fec.gov/">Federal Elections Committee</a> </dd>

    <dh>Will other people see how I vote?</dh>
    <dd>You specifically?  No.  <br/>
    We do release national and regional statistics, and this data may include your votes, but the statistics are not associated with your name or other identifying information.  </dd>

</dl>


