
<h1>Privacy Statement</h1>

<hr/>

<p><strong>We do not</strong> release information about you, personally, or how you vote. </p>
<p><strong>We do</strong> release national and regional statistics which may include your votes as well as the votes of others (the statistics are not associated with voters' names or other identifying information). </p>

<hr/>

<dl>
    <dh>Information collected by OpenVote Websites</dh>
    <dd>OpenVote gathers information as you interact with the website, including your ip address, estimated location, votes in our polls, and anything else we think might be helpful in the pursuit of <a href="#/about">our mission</a>.  OpenVote has the right to produce and publish statistics, trends, and analysis based on this data.  Publicly released data and analysis will be aggregated and made anonymous to avoid the identifications of individuals.  </dd>
    
    <dh>Third-Party Information Storage</dh>
    <dd>Some information is stored for OpenVote by third-party vendors. </dd>

    <dh>Links to Other Sites</dh>
    <dd>OpenVote websites may contain links to sites owned and/or operated by other organizations, and the privacy policies of those sites may differ from that of OpenVote. These sites may collect data and make use of it in ways that OpenVote does not. </dd>

</dl>
