
<div style="text-align: center">
    <br/><br/>
    <h1>OpenVote.US</h1>
    <br/>
    <h3>Politics is broken, our Country is not.
    
    Give every candidate your up or down vote.</h3>
    <h4>Better elections and a better country through better voting.</h4>
    <br/><br/>
</div>

<p>Radicalized politics has made the political parties into teams that play to win at the expense of the Nation.  <br/>
<br/>


At the root of this problem is the structure of our voting system.  When citizens may only approve of a single candidate in an election, the incentives are very strong to create controversy and attack other candidates.  3rd party candidates have little chance of winning, and end up hurting their most similar mainstrean candidate.  By simply allowing voters to vote for as many of the candidates as they like, the incentives change and we get better elections.  <br/>
<br/>
We hope to educate the public about "Approval Voting"

<hr/>

Welcome!<br/>
<br/>
bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
