<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="utf-8" />
</head>
<body>
    
<h1>Politics is broken, our Country is not.</h1>

<hr style="clear: both;"/>
Radicalized politics has made the political parties into teams that play to win at the expense of the Republic.  

At the root of this problem is the structure of our voting system.  When citizens may only approve of a single candidate in an election, the incentives are very strong to create controversy and attack other candidates.  By simply allowing voters to vote for as many of the candidates as they like, the incentives change:
<ul>
    <li>voters are free to include 3rd party candidates without hurting the viability of more likely candidates.
    <li>
</ul>
        
We hope patriots of all political persuasions will join us to help build an unstoppable grassroots movement that demands and delivers lasting reforms

<blockquote><p>There are a thousand hacking at the branches of evil to one who is striking at the root.</blockquote>
<small style="float: right;"> - Henry David Thoreau</small>
<hr style="clear: both;"/>

Together, we must strike at the root of America's problems

Join us
</body>
</html>