<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="utf-8" />
</head>
<body>
    
<h1>Politics is broken, our Country is not.</h1>

<hr style="clear: both;"/>
Radicalized politics has made the political parties into teams that play to win at the expense of National interests.  <br/>
<br/>
At the root of this problem is the structure of our voting system.  When citizens may only approve of a single candidate in an election, the incentives are very strong to create controversy and attack other candidates.  3rd party candidates have little chance of winning, and end up hurting their most similar mainstrean candidate.  By simply allowing voters to vote for as many of the candidates as they like, the incentives change and we get better elections.  <br/>
<br/>
We hope to educate the public about "Approval Voting"
<blockquote>There are a thousand striking at the branches of evil to every one who is hacking at the root.<small>Slightly modified from Henry David Thoreau</small></blockquote>

<hr style="clear: both;"/>

Together, we must strike at the root of America's problems

Join us
</body>
</html>