{% load staticfiles %}
{% load url from future %}

<!DOCTYPE html>
<html lang="en" ng-app="ovApp"> 

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />
	<title>OpenVote.US</title>

	<link rel="shortcut icon" href="{% static 'g/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<link href="{% static 'css/openvote.css' %}" rel="stylesheet" type="text/css" />

    <!-- HTML5 shim for IE6-8 -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	<!-- Google Maps --> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCy9qqGNDbHN_gtdFvQ6W25ydBD3D6scqk&sensor=false"></script>
    <script type="text/javascript">
        function locate() {
            var lat = "{{ lat|escapejs }}";
            var lon = "{{ lon|escapejs }}";
            if (lat == 37.4419) {
                var theZoom = 5;
            } else {
                var theZoom = 11;
            }
            var mapOptions = {
                center: new google.maps.LatLng(lat, lon),
                zoom: theZoom, zoomControl: false, panControl: false, scaleControl: false, scrollwheel: false,
                disableDefaultUI: true,
                mapTypeId: google.maps.MapTypeId.HYBRID
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        }
    </script>

    <!-- Angular -->
    <script src="http://code.angularjs.org/angular-1.0.1.js"></script>
    <script src="http://code.angularjs.org/angular-resource-1.0.1.js"></script>
    <script src="http://documentcloud.github.com/underscore/underscore.js"></script>
    <script src="{% static 'js/openvote_angular.js' %}"></script>
    <!-- <script src="{% static 'js/openvote_django_api.js' %}"></script> -->
    
</head>

<body onload='locate()'  ng-controller="AppCtrl">
    <input type='hidden' id='voterid' value="{{ voter.id }}"/>

    {% include 'openvote/templates/signinmodal.html' %}

    <div class="back" id="geo-map"><div id="map_canvas"></div></div>
    <a href="/">
    <img src="{% static 'g/ovlogo100.png' %}" style="float: left; position: fixed; z-index: 0; padding: 5px; border: none;"/></a>
   
    <div class="container">
        <div class="row">
            <div class="span3">
                {% include 'openvote/templates/nav.html' %}
                {% include 'openvote/templates/footer.html' %}
            </div>
            <div class="span9">
                <div class="box">
                    <div ng-view></div>    
                </div>
            </div>
        </div>
    </div>
    
    <script defer>
        (function() {
          var map = null;
          var geolog = document.querySelector('#geo-log');
          var geoMap = document.querySelector('#geo-map');
        
          function showPosition(position) {
            geolog.textContent = "You're within " + position.coords.accuracy + " meters of (" + position.coords.latitude + ", " + position.coords.longitude + ")";
            var latLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            var marker = new google.maps.Marker({ position: latLng, map: map });
            map.setCenter(latLng);
            map.setZoom(9);
          }
        
          function handlePositionError(evt) {
            geolog.textContent = evt.message;
          }
        
          function successPositionHandler(evt) {
            // Load map if it doesn't already exist and when user clicks the button.
            if (!map) {
              map = new google.maps.Map(geoMap, {
                zoom: 3,
                center: new google.maps.LatLng(37.4419, -94.1419), // United States
                mapTypeId: google.maps.MapTypeId.HYBRID
              });
              map.getDiv().style.border =  '1px solid #ccc';
            }
        
            if (navigator.geolocation) {
              geolog.style.visibility = 'visible';
              geolog.textContent = 'Looking for location...';
              navigator.geolocation.getCurrentPosition(showPosition, handlePositionError);
              // Also monitor position as it changes.
              //navigator.geolocation.watchPosition(showPosition, handlePositionError);
            } else {
              geolog.textContent = 'Oops! Your browser does not support geolocation.';
            }
          }
          
          document.querySelector('#see-position').addEventListener('click', successPositionHandler, false);
          geoMap.addEventListener('click', successPositionHandler, false);
        })();
    </script>



</body>

</html>
