<!DOCTYPE html>
{% load staticfiles %}
{% load url from future %}

<html> 

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />

	<title>OpenVote.US</title>

	<!-- icons --> 
	<link rel="shortcut icon" href="{% static 'g/favicon.ico' %}" />
	<!-- for later:
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css" />
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<link rel="apple-touch-icon" href="{% static 'g/apple-touch-icon.png' %}"> 
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'g/apple-touch-icon-72x72.png' %}"> 
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'g/apple-touch-icon-114x114.png' %}"> -->

	<!-- styles --> 
	<link rel="stylesheet" href="{% static 'css/openvote.css' %}" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono" type="text/css" />
    <style type="text/css">
        #bgcanvas{ position:fixed; z-index: 0; }
        #fgcanvas{ position:fixed; z-index: 1; }
    </style>

	<!-- jquery --> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
	<script src="{% static 'js/fancybox/jquery.fancybox-1.3.4.pack.js' %}"></script>
	<link href="{% static 'js/fancybox/jquery.fancybox-1.3.4.css' %}" media="screen" type="text/css" rel="stylesheet" />
	<script src="{% static 'js/openvote.js' %}"></script>

	<!-- Google Maps --> 
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCy9qqGNDbHN_gtdFvQ6W25ydBD3D6scqk&sensor=false"></script>
    <script type="text/javascript">
        function initialize() {
            var canvas = document.getElementById('bgcanvas');
            var context = canvas.getContext('2d');
            var mapOptions = {
                center: new google.maps.LatLng(42.3, 289),
                zoom: 13,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        }
    </script>

</head>


<body onload="initialize()">

       <canvas id="bgcanvas">Error, canvas is not supported</canvas>
       <div id="map_canvas" style="width:100%; height:100%"></div>
       word
 
    <canvas id="fgcanvas">Error, canvas is not supported</canvas>
	<div>
        {% if user.is_authenticated %}
            <a href="{% url "logout" %}">Sign out</a>
    	{% else %}
            <a id="fancybox" href="{% url "login" %}">Sign in</a>
    	{% endif %}
    </div>
    
	
	<p/><a href="https://register.rockthevote.com/registrants/new">Register to Vote</a>
</body>

</html>



