{% load staticfiles %}
{% load url from future %}

<!DOCTYPE html>
<html lang="en"> 

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />
	<title>OpenVote.US</title>

	<!-- icons --> 
	<link rel="shortcut icon" href="{% static 'g/favicon.ico' %}" />
	<!-- <link rel="apple-touch-icon" href="{% static 'g/apple-touch-icon.png' %}"> 
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'g/apple-touch-icon-72x72.png' %}"> 
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'g/apple-touch-icon-114x114.png' %}"> -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono" rel="stylesheet" type="text/css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/openvote.js' %}"></script>
	<link href="{% static 'css/openvote.css' %}" rel="stylesheet" type="text/css" />

    <!-- HTML5 shim for IE6-8 -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	<!-- Google Maps --> 
    <!-- no HTML5 geolocation -->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCy9qqGNDbHN_gtdFvQ6W25ydBD3D6scqk&sensor=false"></script>
    <script type="text/javascript">
        function locate() {

            var lat = "{{ lat|escapejs }}";
            var lon = "{{ lon|escapejs }}";

            var mapOptions = {
                center: new google.maps.LatLng(lat, lon),
                zoom: 5,
                disableDefaultUI: true,
                mapTypeId: google.maps.MapTypeId.HYBRID
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        }
    </script>

    <!-- with HTML5 geolocation -->
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCy9qqGNDbHN_gtdFvQ6W25ydBD3D6scqk&sensor=false"></script>
   
</head>


<body onload='locate()'>
    
    <div id="signinModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2>Sign In</h2>
        </div>
        <div class="modal-body">
            <span style="float: right; width: 140px;">
                <h3>Why OpenID?</h3>
                <p>It's a single username and password that allows you to log in to any OpenID-enabled site.  </p>
                <p>It's an open standard and works on thousands of websites.</p>
                <a href="http://openid.net/what/">learn more &raquo;</a><br/>
            </span>
            <h3>Please select an identity provider:</h3>
                <a rel="nofollow" href="/login/Google">Google</a></br>
                <a rel="nofollow" href="/login/twitter">Twitter</a></br>
                <a rel="nofollow" href="/login/facebook">Facebook</a></br>
                <hr>
            {% for name in backend %}
                <a rel="nofollow" href="{% url "socialauth_begin" name %}">{{ name|title }}</a></br>
            {% endfor %}

            <hr style="clear: both;"/>
            <h3>Thanks.</h3>
            <p>derp de derp. do we want to say anything here?</p>

        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal" >Cancel</a>
        </div>
    </div>

    <div class="back" id="geo-map">
        <div id="map_canvas"></div>
    </div>
    <img src="{% static 'g/openvote_button.png' %}" style="float: left; position: fixed; z-index: 0; padding: 10px;"/>
   
    <div class="container">
    <div class="row">

        <div class="span3">
            <div class="box">

                {% if user.is_authenticated %}
                    <h2>{{ user.username }}</h2>
    
                    <button id="see-position" class="btn btn-primary btn-large">Automatic location</button> <br/>
                    <a href="{% url "logout" %}">Sign out</a>
                {% else %}
                    <a data-toggle="modal" href="#signinModal" class="btn btn-primary btn-large">Sign in</a>
                {% endif %}
                <br/>
                <br/>
                <h3>Your Elections</h3>
                    <div style="padding-left: 8px;">
    
                    {% for election in elections %}
                        <h4 style="padding-top: 4px; padding-bottom: 2px;">{{ election.name }}</h4>
                        {% for candidate in election.candidates %}
                            <input type="checkbox" {% if candidate.approved %}CHECKED{% endif %}/> {{ candidate.name }} <br/>
                        {% endfor %}
                            <br/>
                    {% endfor %}
    
                        <h4 style="padding-top: 4px; padding-bottom: 2px;">US Presidency</h4>
                            <input type="checkbox" CHECKED/> Barack Obama <br/>
                            <input type="checkbox" /> Mitt Romnington III <br/>
                            <br/>
    
                        <h4 style="padding-top: 4px; padding-bottom: 2px;">US Presidency</h4>
                            <input type="checkbox" CHECKED/> Barack Obama <br/>
                            <input type="checkbox" /> Mitt Romnington III <br/>
                            <br/>
    
                        <h4 style="padding-top: 4px; padding-bottom: 2px;">US Presidency</h4>
                            <input type="checkbox" CHECKED/> Barack Obama <br/>
                            <input type="checkbox" /> Mitt Romnington III <br/>
                            <br/>
    
                        <h4 style="padding-top: 4px; padding-bottom: 2px;">US Presidency</h4>
                            <input type="checkbox" CHECKED/> Barack Obama <br/>
                            <input type="checkbox" /> Mitt Romnington III <br/>
                            <br/>
    
                        <h4 style="padding-top: 4px; padding-bottom: 2px;">US Presidency</h4>
                            <input type="checkbox" CHECKED/> Barack Obama <br/>
                            <input type="checkbox" /> Mitt Romnington III <br/>
                            <br/>
    
                        <h4 style="padding-top: 4px; padding-bottom: 2px;">US Presidency</h4>
                            <input type="checkbox" CHECKED/> Barack Obama <br/>
                            <input type="checkbox" /> Mitt Romnington III <br/>
                            <br/>
    
                        <h4 style="padding-top: 4px; padding-bottom: 2px;">US Presidency</h4>
                            <input type="checkbox" CHECKED/> Barack Obama <br/>
                            <input type="checkbox" /> Mitt Romnington III <br/>
                            <br/>
    
                        <h4 style="padding-top: 4px; padding-bottom: 2px;">US Presidency</h4>
                            <input type="checkbox" CHECKED/> Barack Obama <br/>
                            <input type="checkbox" /> Mitt Romnington III <br/>
                            <br/>
    
                        <h4 style="padding-top: 4px; padding-bottom: 2px;">US Presidency</h4>
                            <input type="checkbox" CHECKED/> Barack Obama <br/>
                            <input type="checkbox" /> Mitt Romnington III <br/>
                            <br/>
    
                        <h4 style="padding-top: 4px; padding-bottom: 2px;">US Presidency</h4>
                            <input type="checkbox" CHECKED/> Barack Obama <br/>
                            <input type="checkbox" /> Mitt Romnington III <br/>
                            <br/>
    
                        <h4 style="padding-top: 4px; padding-bottom: 2px;">US Presidency</h4>
                            <input type="checkbox" CHECKED/> Barack Obama <br/>
                            <input type="checkbox" /> Mitt Romnington III <br/>
                            <br/>
    
                    </div>
                <br/>
                <br/>
                <a href="https://register.rockthevote.com/registrants/new">Register to Vote</a>

            </div>
        </div>
    
        <div class="span9">
            <div class="box">
    
                <span id="geo-log"></span>
                
                {% if election %}
                    <h4 style="padding-top: 4px; padding-bottom: 2px;">{{ election.name }}</h4>
                    election view - bla blerg derpity derp
    
                {% elif candidate %}
                    <h4 style="padding-top: 4px; padding-bottom: 2px;">{{ candidate.name }}</h4>
                    candidate view - bla blerg derpity derp
    
                {% else %}
                    <div style="text-align: center">
                        <br/><br/>
                        <h1>OpenVote.US</h1>
                        <br/>
                        <h3>Give every candidate your up or down vote.</h3>
                        <h4>Better elections and a better country through better voting.</h4>
                        <br/><br/>
                    </div>
                    bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 

                {% endif %}
                
            </div>
        </div>

    </div>
    </div>
    







    <script defer>
        (function() {
          var map = null;
          var geolog = document.querySelector('#geo-log');
          var geoMap = document.querySelector('#geo-map');
        
          function showPosition(position) {
            geolog.textContent = "You're within " + position.coords.accuracy + " meters of (" + position.coords.latitude + ", " + position.coords.longitude + ")";
            var latLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            var marker = new google.maps.Marker({ position: latLng, map: map });
            map.setCenter(latLng);
            map.setZoom(9);
          }
        
          function handlePositionError(evt) {
            geolog.textContent = evt.message;
          }
        
          function successPositionHandler(evt) {
            // Load map if it doesn't already exist and when user clicks the button.
            if (!map) {
              map = new google.maps.Map(geoMap, {
                zoom: 3,
                center: new google.maps.LatLng(37.4419, -94.1419), // United States
                mapTypeId: google.maps.MapTypeId.HYBRID
              });
              map.getDiv().style.border =  '1px solid #ccc';
            }
        
            if (navigator.geolocation) {
              geolog.style.visibility = 'visible';
              geolog.textContent = 'Looking for location...';
              navigator.geolocation.getCurrentPosition(showPosition, handlePositionError);
              // Also monitor position as it changes.
              //navigator.geolocation.watchPosition(showPosition, handlePositionError);
            } else {
              geolog.textContent = 'Oops! Your browser does not support geolocation.';
            }
          }
          
          document.querySelector('#see-position').addEventListener('click', successPositionHandler, false);
          geoMap.addEventListener('click', successPositionHandler, false);
        })();
    </script>






</body>

</html>



