{% load staticfiles %}
{% load url from future %}

<div class="box">
    
    <div ng-controller="VoterCtrl">
        {% if user.is_authenticated %}
            <a href="{% url "logout" %}" class="btn" style="float: right;">Sign out</a>
            <button id="see-position" class="btn btn-info">Search location</button>
            <h3 style="margin-top: 8px;">Welcome, {{ user.username }}</h3>
        {% else %}
            <a data-toggle="modal" href="#signinModal" class="btn btn-primary" style="float: right;"><i class="icon-user icon-white"></i> Sign in</a>
            <h3>Welcome. </h3>
        {% endif %}
    </div>

    <hr/>

    <div class="nav" style="float: right; padding-top: 6px;"><a href="#/election/new" ng-click="updateElection('')"><i class="icon-plus-sign"></i> New</a></div>
    <h3 class="nav"><a href="#/election/list">Elections</a></h3>

    <ul class="unstyled">
        <li ng-repeat="election in elections">
            <a class="nav-election" href="#/election/<[election.id]>" ng-click="updateElection(election)"><[election.name]></a>
            <div ng-repeat="candidate in election.candidates">
                <div class="nav-candidate">
                    <input class="vote" type="checkbox" ng-model="candidate.approved">
                    <a href="#/candidate/<[ candidate.id ]>" ng-click="updateCandidate(candidate)"><[ candidate.name ]></a>
                </div>
            </div>
        </li>
    </ul>

    <div class="nav-election">
        <hr/>
        <a href="https://register.rockthevote.com/registrants/new" target="_new"><i class="icon-ok"></i> Register to Vote</a>
    </div>

</div>
