<div class="box">
    
    <a href="/">home</a><hr/>

    <div ng-controller="VoterCtrl">
        <h3>Welcome <[voter.name]></h3>
        <form ng-submit="authVoter()">
            <input class="input-small" type="text" ng-model="voterName"  size="20" placeholder="Voter Name">
            <input class="btn-primary" type="submit" value="Login">
        </form>
    </div>
        
    Voted in <[elections_voted()]>.  Not yet voted in <[elections_unvoted()]>.  <[elections.length]> Elections total.

    <hr/>

    <ul class="unstyled">
        <li ng-repeat="election in elections">
            <h4 class="nav-election"><a href="#/election/<[election.id]>" ng-click="updateElection(election)"><[election.name]></a></h4>
            <div ng-repeat="candidate in election.candidates">
                <div class="nav-candidate">
                    <input class="vote" type="checkbox" ng-model="candidate.approved">
                    <span><a href="#/candidate/<[ candidate.id ]>" ng-click="updateCandidate(candidate)"><[ candidate.name ]></a></span>
                </div>
            </div>
        </li>
    </ul>

    <hr/>

    <h4><a href="/api/v1/election/?format=json">More Elections</a></h4>
    <h4><a href="#/election/new" ng-click="updateElection('')">Add New Election</a></h4>

    <hr/>
    
    <a href="https://register.rockthevote.com/registrants/new" target="_new">Register to Vote</a>
    
</div>
