{% load staticfiles %}
{% load url from future %}

<div ng-controller="VoterCtrl">
    {% if user.is_authenticated %}
        <table><tr><td>
            <a target="_self" href="{% url "logout" %}" class="btn btn-small">Sign out</a>
        </td><td>
            <button id="see-position" class="btn btn-info btn-small">Search location</button>
        </td></tr></table>
        <h3 style="margin-top: 8px;">Welcome, {{ user.username }}</h3>
    {% else %}
        <a data-toggle="modal" href="#signinModal" class="btn btn-primary btn-small" style="float: right;"><i class="icon-user icon-white"></i> Sign in</a>
        <h3><a class="nav" href="">Welcome</a>.</h3>
    {% endif %}
</div>

<hr/>

<h3 class="nav"><a href="/election/list">Elections</a></h3>

<ul class="unstyled">
    <li ng-repeat="election in elections">
        <div class="nav-election">
            <a href="/election/<[election.id]>" ng-click="updateElection(election)"><[election.name]></a>
            <div ng-repeat="candidate in election.candidates">
                <div class="nav-candidate">
                    <input class="vote" type="checkbox" ng-model="candidate.approved">
                    <a href="/candidate/<[ candidate.id ]>" ng-click="updateCandidate(candidate)"><[ candidate.name ]></a>
                </div>
            </div>
        </div>
    </li>
</ul>

<div class="nav">
    <hr/>
    <a href="https://register.rockthevote.com/registrants/new" target="_new"><i class="icon-flag"></i> Register to Vote</a>
</div>

