<div id="signinModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Please select an identity provider</h3>
    </div>
    <div class="modal-body">
        <a target="_self" rel="nofollow" href="/login/Google">Google</a></br>
        <a target="_self" rel="nofollow" href="/login/twitter">Twitter</a></br>
        <a target="_self" rel="nofollow" href="/login/facebook">Facebook</a></br>
    </div>
    <div class="modal-footer" style="clear: both;">
        <span style="float: left; margin-right: 20px;"><h4><a href="/">OpenVote.US</a></h4></span>
        <span style="float: right; margin-left: 20px;"><a href="#" class="btn" data-dismiss="modal" >Cancel</a></span>
        Democracy works best when more people participate.  Thank you for <a href="/share">spreading the word</a>! 
    </div>
</div>
