<div id="signinModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2>Please sign in to vote and view results</h2>
    </div>
    <div class="modal-body">
        <span style="float: right; width: 140px;">
            <h3>Why OpenID?</h3>
            <p>It's a single username and password that allows you to log in to any OpenID-enabled site.  </p>
            <p>It's an open standard and works on thousands of websites.</p>
            <a href="http://openid.net/what/">learn more &raquo;</a><br/><br/>
        </span>
        <h3>Please select an identity provider:</h3>
            <a rel="nofollow" href="/login/Google">Google</a></br>
            <a rel="nofollow" href="/login/twitter">Twitter</a></br>
            <a rel="nofollow" href="/login/facebook">Facebook</a></br>
    </div>
    <div class="modal-footer" style="clear: both;">
        <span style="float: left; margin-right: 20px;"><h3><a href="/">OpenVote.US</a></h3></span>
        <span style="float: right; margin-left: 20px;"><a href="#" class="btn" data-dismiss="modal" >Cancel</a></span>
        Democracy works best when more people participate.  Thank you for <a href="viral marketing links">spreading the word</a>! 
    </div>
</div>
